{% extends 'base.html' %}
{% load humanize%}
{% block content %}
<div class='discussionDetails'>
<h1>Discussion on {{discussion.title}}</h1>  <h4>Created by:{{user.profile.first_name}}</h4>


<span class='discussionDetails'>Post: {{discussion.post}}</span>
<br>


{% comment %} <form action='{% url 'like' discussion.id %}' method="POST"> {% endcomment %}
{% comment %} {% csrf_token%}
{%if user.is_authenticated %}
{%if liked%} {% endcomment %}
{% comment %} <button type= 'submit' value='{{discussion.id}}' name=like>Unlike</button>
{%else%}
<button type= 'submit' value='{{discussion.id}}' name='discussion_id'>Like</button>
{%endif%}
{%else%}
<small><a href="{%url 'login' %}">Login</a> to Like</small>
{% endif %}
</form>
-{{total_likes}} Likes  {% endcomment %}

{% if discussion.posted_by == user %} 
<button><a href="{% url 'discussion_update' discussion.id %}">Edit</button></a>

<button><a href="{% url 'discussion_delete' discussion.id%}">Delete</button></a>
{% endif %} 
<hr>
</div>

<h2>Comments ...</h2>

{% comment %} Reply Section {% endcomment %}
{% comment %} Reply Form {% endcomment %}
 {% comment %} {% if replies %} {% endcomment %}
 {% comment %} <h3>Be the first to reply...<a href={% url 'add_reply' %}>Reply</a></h3> {% endcomment %}
{% comment %} {% else%}  {% endcomment %}

{% comment %} {% for reply in discussion.reply %}

<h5>{{reply.post}}</h5>
<strong>{{reply.date_added}}</strong>

{% endfor%}
{%endif%}  {% endcomment %}

<form method='POST' action="{% url 'add_reply' discussion.id %}"> 

{%csrf_token %}
{{reply_form.as_p}}

<button type='submit'>Submit</button>
<button><a href="{% url 'discussion_detail' discussion.id %}" >Cancel</button></a> 
</form>
{% comment %} {% for reply in discussion.replies.all %}
<p>{{reply}} {% endcomment %}

{% comment %} ({{reply.updated_at | naturaltime}})

{% if reply.posted_by == user%}
<button><a href='{% url 'discussion_reply_delete' reply%}'>Delete</a></button> {% endcomment %}
{% comment %} {% for reply in replies%} {% endcomment %}


{% comment %} {%endfor%} {% endcomment %}
{% comment %} {%endif%} {% endcomment %}
{% comment %} {% endfor%} {% endcomment %}
{% endblock %}