{% extends 'base.html' %}
{% load humanize%}
{% block content %}


<div class='discussionDetails'>
    <h1>Discussion on {{discussion.title}}</h1>  


<h4>Created by: {{discussion.posted_by}}</h4>
   


    <span class='discussionDetails'>Post: {{discussion.post}}</span>
<br>


{% comment %} <form action='{% url 'like' discussion.id %}' method="POST">
 {% csrf_token%}
{%if user.is_authenticated %}
{%if liked%} 
 <button type= 'submit' value='{{discussion.id}}' name=like>Unlike</button>
{%else%}
<button type= 'submit' value='{{discussion.id}}' name='discussion_id'>Like</button>
{%endif%}
{%else%}
<small><a href="{%url 'login' %}">Login</a> to Like</small>
{% endif %}
</form>
-{{total_likes}} Likes   {% endcomment %}

{% if discussion.posted_by == user %} 
<button><a href="{% url 'discussion_update' discussion.id %}">Edit</button></a>
<button><a href="{% url 'discussion_delete' discussion.id%}">Delete</button></a>
{% endif %} 
<hr>
</div>

<h2 class='discussionDetails'>Comments...</h2>


{% comment %} Reply Section {% endcomment %}
{% comment %} Reply Form {% endcomment %}
 {% comment %} {% if discussions.replies.id == reply.id %} {% endcomment %}



<div class='commentSection'>
{% for reply in replies %}
<p class='discussionDetails'>


{% for photo in avatar%}
{%if photo.user.id == reply.author.id %}
<img style='width: 100px; height:100px; margin-top:50x; border: 3px solid black;' src="{{photo.url}}">
{%endif%} 
{%endfor%} 

{{reply.post | safe}}  
<strong> {{reply}}| ({{reply.updated_at | naturaltime}}) </strong>

    {% if reply.author == user  %}
    <button>
        <a href="{% url 'discussion_reply_update' reply.id%}" >Edit</a>
    </button> 
    <button><a href="{% url 'reply_delete' reply.id%}">Delete</button></a>
     {%endif%}
    <hr>
</p>
     
<br>
{%endfor%}


 {% comment %} {%else%} 

<h5 class='discussionDetails'>Be the first to reply...</h5>

{% endif%} {% endcomment %}

</br>
{% comment %} Comment Form {% endcomment %}
<form method='POST' action="{% url 'add_reply' discussion.id %}"> 
    {%csrf_token %}
    {{reply_form.media}}
    {{reply_form.as_p}}
    <button type='submit'>Submit</button>
    <button><a href="{% url 'discussion_detail' discussion.id %}" >Cancel</button></a> 
</form>




{% endblock %}