{% extends 'base.html' %}
{% load humanize%}
{% block content %}


<div class='discussionDetails'>
    <h1>Discussion on {{discussion.title}}</h1>  
    <h4>Created by: {{discussion.posted_by}}</h4>
    <span class='discussionDetails'>Post: {{discussion.post}}</span>
<br>


{% comment %} <form action='{% url 'like' discussion.id %}' method="POST"> {% endcomment %}
{% comment %} {% csrf_token%}
{%if user.is_authenticated %}
{%if liked%} {% endcomment %}
{% comment %} <button type= 'submit' value='{{discussion.id}}' name=like>Unlike</button>
{%else%}
<button type= 'submit' value='{{discussion.id}}' name='discussion_id'>Like</button>
{%endif%}
{%else%}
<small><a href="{%url 'login' %}">Login</a> to Like</small>
{% endif %}
</form>
-{{total_likes}} Likes  {% endcomment %}

{% if discussion.posted_by == user %} 
<button><a href="{% url 'discussion_update' discussion.id %}">Edit</button></a>
<button><a href="{% url 'discussion_delete' discussion.id%}">Delete</button></a>
{% endif %} 
<hr>
</div>

<h2>Comments ...</h2>



{% comment %} Reply Section {% endcomment %}
{% comment %} Reply Form {% endcomment %}
 {% if not discussion.replies.all %}

 {% for reply in reply %}

<div class='commentSection'>
<p> {{reply}} | <strong>{{reply.author}} ({{reply.updated_at | naturaltime}})</strong>
    {% if reply.author == user  %}
    <button>
        <a href="{% url 'discussion_reply_update' reply.id%}" >Edit</a>
    </button> 
    <button><a href="{% url 'reply_delete' reply.id%}">Delete</button></a>
    
    <hr>
</p>
     
<br>

{%endif%}
{% endfor%}
{%else%}

<h5>Be the first to reply...<a href={% url 'add_reply' discussion.id %}>Reply</a></h5>

{% endif%}

</br>
{% comment %} Comment Form {% endcomment %}
<form method='POST' action="{% url 'add_reply' discussion.id %}"> 
    {%csrf_token %}
    {{reply_form.as_p}}
    <button type='submit'>Submit</button>
    <button><a href="{% url 'discussion_detail' discussion.id %}" >Cancel</button></a> 
</form>




{% endblock %}