{% extends 'base.html' %}
{%load humanize%}
{% block content %}


<div class="profile">
<div>

<h1 class="profile">{{user.profile.first_name}} {{user.profile.last_name}}</h1>
<button><a href="{%url "user_discussions" %}">Your Discussions</a></button>
</p>
</div>
<h5>Location: {{user.profile.location}}</h5>
<h5>Area of Specialization :{{user.profile.it_area}}</h5>
<span>
<span></span>


{% for photo in avatar %}
{% if photo%}
<img style='width: 250px; height:300px; margin-top:50x; border: 3px solid black;' src="{{photo.url}}">
<br>
{%else%}

<h5>No photos currently available</h5> 
{%endif%}
{%endfor%}
<form action="{% url 'profile' %}" enctype="multipart/form-data" method="POST" class="profile">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <button type="submit">Upload Photo </button>
</form>
<br>
<h5 class="profile">About {{user.profile.first_name}}:</h5>
<h6>{{user.profile.bio}}</h6>

</p>


 









{%endblock%}