{% extends 'base.html' %}
{% block content %}

<h1>{{user.profile.first_name}}'s Discussions </h1>

<p>
{% if posts %}
{% comment %} {% if p.posted_by == user %}  {% endcomment %}
<ul>
{% for p in posts %}
    <ol>
        <a class= "index" href="{% url 'discussion_detail' p.id%}"><h3>{{p}}</h3></a>
    {% if p.posted_by == user %} 
    (<a class="indexChange" href='#'>Edit</a> | <a class='indexChange' href='#'>Delete</a>)
    {% endif%} 
    </ol>
{%endfor%}
</ul>
{%else%}

    <p>There are currently no discussions available</p>
 {% endif %}
</p> 

<a class='indexNew' href={%url 'discussions_create'%}>Post a discussion</a> 
</p>


{%endblock%}