{% extends 'base.html' %}
{% block content %}
<div class="userDiscussions">
<h1 class="userDiscussion">{{user.profile.first_name}}'s Discussions </h1>

<p>
{% if posts %}

<ul>
{% for p in posts %}
    <ol>
        <a class= "userDiscussion" href="{% url 'discussion_detail' p.id%}"><h3>{{p}}</h3></a>
    {% if p.posted_by == user %} 
    (<a class="userDiscussion" href='{% url 'discussion_update' p.id %}'>Edit</a> | <a class='userDiscussion' href='{% url 'discussion_delete' p.id %}'>Delete</a>)
    {% endif%} 
    </ol>
{%endfor%}
</ul>
{%else%}

    <p>There are currently no discussions available</p>
 {% endif %}
</p> 

<a class='userDiscussion' href={%url 'discussions_create'%}>Post a discussion</a> 
</p>

</div>

{%endblock%}