{% extends 'base.html' %}
{% block content %}

<h1>Discussion {{ds}}</h1>

<h1>{{user.profile.first_name}}</h1>

<hr>
{% comment %} {% if discussion %} {% endcomment %}
    
    {% comment %} <h1>Edit <span class='teal-text'>{{ object.name }}</span></h1>
  {% else %}
    <h1>Start a discussion</h1>
  {% endif %} {% endcomment %}
  <form action="{% url 'discussions'%}" method='post'>
    {% csrf_token %}
 
    {{ form }}
   
    <input type="submit" value='Submit!' class='btn'>
  </form>
{% endblock %}

