{% extends 'base.html' %}
{% block content %}
<div class= 'discussionList'>

<h1 class="index">WOM-nology Discussion Board</h1>
<p>
{% if posts %}
<ul>
{% for p in posts %}
    <ol>
        <a class= "index" href="{% url 'discussion_detail' p.id %}"><h3>{{p}}</h3></a>({{p.category}})
    {% if p.posted_by == user %} 
    (<a class="indexChange" href='{% url 'discussion_update' p.id %}'>Edit</a> | <a class='indexChange' href='{% url 'discussion_delete' p.id %}'>Delete</a>)
    {% endif%} 
    </ol>
{%endfor%}
</ul>
{%else%}

<h2>There are currently no discussions available</h2>
 {% endif %}
</p> 

<h4><a class='indexNew' href={%url 'discussions_create'%}>Post a discussion</a> 
</p></h4>

</div>
{%endblock%}