{% extends 'base.html' %}
{% block content %}

 <div class="videoDiscussion">
     <video class="discussionList" style="width:100% ; height: 100%;" autoplay muted loop>
        <source src="https://i.imgur.com/njTmRzb.mp4" type="video/mp4">
    </video> 
<div class= 'discussionList'>

 {% if posts %}
<div class="containerDiscussionList">
  <div class="forum-wrapper">
   <div class="title">WOM-nology Discussions Board</div>
    <div class="categories">
   
      <div class="topic-title">
        <div class="tt-title">Topic</div>
        <div class="tt-category">Category </div>
        <div class="tt-post">Replies</div>
        <div class="tt-post">Likes</div>
        <div class="tt-l-post">Posted On</div>
      </div>
      <!--Content-->
      {% for p in posts %} 
      <div class="topic-content">
        <div class="tc-description">
          <div class="d-title"><a href="{% url 'discussion_detail' p.id%}">{{p.title}} </a> </div>
          <div class="d-description">
            <p>{{p.post}} </p>
            <p>{{p.category}}</p>
          </div>
          <div class="mobile-info">
             <div class="mi-topics">
              <p>Category</p>
              <p>{{p.category}}</p>
            </div> 
            <div class="mi-posts">
              <p>Replies</p>
              <p>{{p.replies}}</p>
            </div>
            <div class="mi-posts">
              <p>Likes</p>
              <p>{{p.likes}}</p>
            </div>
            <div class="mi-lpost">
              <p>Last Post</p>
              <p>by User1</p>
              <p>Mon Sept 28, 2015 6:43pm</p>
            </div>
          </div>
        </div>
        <div class="tc-category">{{p.category}}</div>
        <div class="tc-post">{{p.replies.count}}</div>
        <div class="tc-post">{{p.likes.count}}</div>
        <div class="tc-l-post">
          <div class="lp-user">{{p.posted_by}}</div>
          <div class="lp-date">{{p.created_at}}</div>
        </div>
      </div>
      {%endfor%}


{%endif%}
   
  </div>
</div>

</body>

{%endblock%}

