@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body{
    background-color: white;
    font-family: 'Cinzel', serif;
    font-variant: small-caps;
    background-image: url(https://i.imgur.com/bFlOfhA.png);
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Discussion List Page */
h1.index{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    border-bottom: grey 2px solid;
    background-color: rgba(192, 190, 190, 0.63);
    outline: #e241a4 2px solid;
    color: white;
}
footer{
    padding-top: 0;
    text-align: center;
    bottom: 0%;
    position: fixed;

}